<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CDebug" version="0.0.3" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210312.4" targetFramework="native" />
  <!-- CODESYNC: Keep this version fixed to the WinUI2xVersion version used by the RNW prior to package reference support in RNW 0.68 -->
  <package id="Microsoft.UI.Xaml" version="2.7.0" targetFramework="native" />
</packages>