name: CI

on:
  schedule:
    - cron: '0 15 * * 2' # Tuesday 3PM UTC (8AM PST)
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  call-runcodegen:
    name: Run CodeGen
    uses: ./.github/workflows/template-runcodegen.yml
    with:
      vmImage: windows-2022
  
  call-buildexample:
    name: Build Example
    strategy:
      fail-fast: false
      matrix:
        exampleName: ['example', 'examplenuget'] # build both examples
    uses: ./.github/workflows/template-buildexample.yml
    with:
      vmImage: windows-2022
      exampleName: ${{ matrix.exampleName }}

  call-testcli:
    name: Test CLI
    strategy:
      fail-fast: false
      matrix:
        rnwVersion: [ '0.71-stable', 'latest'] # test all versions (using VS 2022. aka any RNW version >= min in package.json and >= 0.71)
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
    uses: ./.github/workflows/template-testcli.yml
    with:
      vmImage: windows-2022
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}
    
  call-testcli-old:
    name: Test CLI (Old)
    strategy:
      fail-fast: false
      matrix:
        rnwVersion: ['0.67-stable', '0.68-stable', '0.69-stable', '0.70-stable'] # test all versions (using VS 2019.. aka any RNW version >= min in package.json and < 0.71)
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
    uses: ./.github/workflows/template-testcli.yml
    with:
      vmImage: windows-2019
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}

  call-buildnpmpackage:
    name: Build NPM Package
    uses: ./.github/workflows/template-buildnpmpackage.yml
    with:
      vmImage: windows-2022

  call-buildrnx:
    name: Build RNX
    strategy:
      fail-fast: false
      matrix:
        configuration: ['Debug', 'Release']
        platform: ['x64']
    uses: ./.github/workflows/template-buildrnx.yml
    with:
      vmImage: windows-2022
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}
