name: CI

on:
  schedule:
    - cron: '0 15 * * 2' # Tuesday 3PM UTC (8AM PST)
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  call-runcodegen:
    name: Run CodeGen
    uses: ./.github/workflows/template-runcodegen.yml
    with:
      vmImage: windows-2022
  
  call-buildexample:
    name: Build Example
    strategy:
      fail-fast: false
      matrix:
        exampleName: ['example', 'examplenuget'] # build both examples
    uses: ./.github/workflows/template-buildexample.yml
    with:
      vmImage: windows-2022
      exampleName: ${{ matrix.exampleName }}

  call-testcli:
    name: Test CLI (VS 2022)
    strategy:
      fail-fast: false
      matrix:
        rnwVersion: [ 'v0.73-stable', 'v0.72-stable'] # test *all* versions that use VS 2022. aka any RNW version >= min in package.json and >= 0.72
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
        include:
          - rnwVersion: 'v0.73-stable'
            rnVersion: '0.73-stable'
          - rnwVersion: 'v0.72-stable'
            rnVersion: '0.72-stable'
    uses: ./.github/workflows/template-testcli.yml
    with:
      vmImage: windows-2022
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}
      rnVersion: ${{ matrix.rnVersion }}

  call-buildnpmpackage:
    name: Build NPM Package
    uses: ./.github/workflows/template-buildnpmpackage.yml
    with:
      vmImage: windows-2022

  call-buildrnx:
    name: Build RNX
    strategy:
      fail-fast: false
      matrix:
        configuration: ['Debug', 'Release']
        platform: ['x64']
    uses: ./.github/workflows/template-buildrnx.yml
    with:
      vmImage: windows-2022
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}
