name: PR

on:
  pull_request:
    branches: [ main ]

jobs:
  setupcheck:
    name: Setup Check
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2

    - name: yarn install
      run: yarn install

    - name: beachball check
      run: npx beachball check --verbose --changehint "::error::Run `yarn change` from root of repo to generate a change file."

  call-runcodegen:
    name: Run CodeGen
    needs: setupcheck
    uses: './.github/workflows/template-buildexample.yml'
    with:
      vmImage: windows-2022
  
  call-buildexample:
    name: Build Example
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        exampleName: ['example', 'examplenuget'] # build both examples
    uses: './.github/workflows/template-buildexample.yml'
    with:
      vmImage: windows-2022
      exampleName: ${{ matrix.exampleName }}

  call-testcli:
    name: Test CLI
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        rnwVersion: ['^0.71'] # test key versions (latest)
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
    uses: './.github/workflows/template-testcli.yml'
    with:
      vmImage: windows-2022
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}
    
  call-testcli-old:
    name: Test CLI
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        rnwVersion: ['^0.67', '^0.69'] # test key versions (min, partners)
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
    uses: './.github/workflows/template-testcli.yml'
    with:
      vmImage: windows-2019
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}

  call-buildnpmpackage:
    name: Build NPM Package
    needs: setupcheck
    uses: './.github/workflows/template-buildnpmpackage.yml'
    with:
      vmImage: windows-2022

  call-buildrnx:
    name: Build RNX
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        configuration: ['Release']
        platform: ['x64']
    uses: './.github/workflows/template-buildrnx.yml'
    with:
      vmImage: windows-2022
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}
