name: PR

on:
  pull_request:
    branches: [ main ]

jobs:
  setupcheck:
    name: Setup Check
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v3

    - name: yarn install
      run: yarn install

    - name: beachball check
      run: npx beachball check --verbose --changehint "::error::Run `yarn change` from root of repo to generate a change file."

  call-runcodegen:
    name: Run CodeGen
    needs: setupcheck
    uses: ./.github/workflows/template-runcodegen.yml
    with:
      vmImage: windows-2022
  
  call-buildexample:
    name: Build Example
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        exampleName: ['example', 'examplenuget'] # build both examples
    uses: ./.github/workflows/template-buildexample.yml
    with:
      vmImage: windows-2022
      exampleName: ${{ matrix.exampleName }}

  call-testcli:
    name: Test CLI (VS 2022)
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        rnwVersion: ['v0.75-stable', 'v0.73-stable', 'v0.72-stable'] # test *key* versions that use VS 2022. aka any RNW version >= 0.72 used by supported partners and/or Active/Maintenance from https://microsoft.github.io/react-native-windows/support
        useRnwNuGet: [false, true] # test building with both RNW source and RNW NuGet
        include:
          - rnwVersion: 'v0.75-stable'
            rnVersion: '0.75-stable'
          - rnwVersion: 'v0.73-stable'
            rnVersion: '0.73-stable'
          - rnwVersion: 'v0.72-stable'
            rnVersion: '0.72-stable'
    uses: ./.github/workflows/template-testcli.yml
    with:
      vmImage: windows-2022
      rnwVersion: ${{ matrix.rnwVersion }}
      useRnwNuGet: ${{ matrix.useRnwNuGet }}
      rnVersion: ${{ matrix.rnVersion }}

  call-buildnpmpackage:
    name: Build NPM Package
    needs: setupcheck
    uses: ./.github/workflows/template-buildnpmpackage.yml
    with:
      vmImage: windows-2022

  call-buildrnx:
    name: Build RNX
    needs: setupcheck
    strategy:
      fail-fast: true
      matrix:
        configuration: ['Release']
        platform: ['x64']
    uses: ./.github/workflows/template-buildrnx.yml
    with:
      vmImage: windows-2022
      configuration: ${{ matrix.configuration }}
      platform: ${{ matrix.platform }}

  prcheck:
    name: Successful PR Check
    runs-on: ubuntu-latest
    needs: [setupcheck, call-runcodegen, call-testcli, call-buildnpmpackage, call-buildrnx]
    steps:
     - uses: actions/checkout@v3
