name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  call-runcodegen:
    name: Run CodeGen
    uses: ./.github/workflows/template-runcodegen.yml
    with:
      vmImage: windows-2022

  publish-npm:
    runs-on: ubuntu-latest
    needs: call-runcodegen

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 18
        registry-url: https://registry.npmjs.org/

    - name: yarn install
      run: yarn install

    - name: build TS
      run: yarn build

    - name: publish to npm
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      working-directory: package
        
    - name: upload npm logs
      uses: actions/upload-artifact@v3
      with:
        name: npm-logs
        path: /home/runner/.npm/_logs
      continue-on-error: true
      if: always()
