name: Run CodeGen

on:
  workflow_call:
    inputs:
      vmImage:
        required: false
        default: 'windows-latest'
        type: string

jobs:
  codegen:
    name: Run CodeGen
    runs-on: ${{ inputs.vmImage }}
    steps:
    - name: setup git
      run: |
        git config --global core.autocrlf false
        git config --global core.filemode false

    - uses: actions/checkout@v2

    - name: yarn install
      run: yarn install

    - uses: nuget/setup-nuget@v1

    - name: NuGet restore
      run: nuget restore example\windows\example.sln

    - name: run CodeGen
      run: dotnet run -verbose -winmd $env:USERPROFILE\.nuget\packages\microsoft.ui.xaml\2.7.0\lib\uap10.0\Microsoft.UI.Xaml.winmd
      working-directory: package\Codegen

    - name: build TS
      run: yarn build

    - name: verify no changes from CodeGen
      shell: powershell
      run: |
        $changed = git status --porcelain=v1
        $changed
        if ($changed -ne $null) { throw "CodeGen detected changes" }